.imgbackround{
    background-image: url('../pictures/BACKGROUND-FOOTER-1.jpg');
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.2);
}

.carousel-item{
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }
.page-footer{
    background: url(../pictures/Harbor_Panoramic.jpg);
    background-size: cover;
}
.carousel-caption{

    position: absolute;
    top: 38%;
    text-transform: uppercase;
}
.carousel-item{
    height: 100vh;
}