<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="css/custom-style.css">
    <title>NEE</title>
  </head>
  <body class="bg-light">
      <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="index.html"><img src="pictures/Logo.png" width="60" height="60"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="about.html">Über Uns</a>
          <a class="nav-item nav-link" href="projects.html">Projekte</a>
          <a class="nav-item nav-link" href="contact.html">Kontakt</a>
        </div>
      </div>
    </nav>

    <!--WALLPAPER-->
    <img src="pictures/Harbor_Panoramic.jpg" alt="" height="562" width="1920">
   <div class="container mt-5 ">
       <h1 class="pt-4">/Kontakt</h1>
       <div class="border-top w-60 mx-auto my-3"></div>
  
         
      <div class="row">
        
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="pictures/Denis-Gholami-Profilfoto-e1574687241199.jpeg" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Geschäftsführer</li>
              <li class="list-group-item">roman@bress.de</li>
              <li class="list-group-item">01728762494</li>
            </ul>
          </div>
         
        <div class="col-md-8 ml-5">
          <p class="lead">Haben Sie Fragen zu einem neuen Projekt oder ein anderes Anliegen? Melden Sie sich bei uns – wir hören Ihnen gerne zu. Mit unseren neun Niederlassungen in Hamburg, Berlin, Leipzig, Düsseldorf, Köln, Frankfurt, Stuttgart, Nürnberg und München sowie unseren Regionalbüros in Hannover, Dortmund, Koblenz, Mannheim, Freiburg und Überlingen sind wir ganz in Ihrer Nähe. Gern stehen wir Ihnen als Gesprächspartner für alle Themen der Wohnimmobilienentwicklung zur Verfügung. </p>
         </div>
      </div>

       <form>
        <div class="form-group mt-5">
          <label for="exampleFormControlInput1">Email-Adresse</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@beispiel.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Thema der Frage</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Beratung</option>
            <option>Vermietung</option>
            <option>Allgemeine Fragen</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Ihr Anliegen</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
   </div>








    <!--FOOTER-->


    <footer class="page-footer">
        
      <div class="container-fluid bg-white">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-12 text-center">
            <a href="#"><i class="fab fa-facebook mr-4"></i></a>
            <a href="#"><i class="fab fa-google-plus-square mr-4"></i></a>
            <a href="#"><i class="fab fa-twitter mr-4"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    

      <div class="container-fluid text-center text-md-left mt-3">
        <div class="row text-white">
          
          <div class="col-md-3 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase font-weight-bold">North-East-Estate GmbH</h6>
            <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
            <p class="mt-2">Wallstraße 27</p>
            <p>17373 Ueckermünde</p>
            <p>Mecklenburg-Vorpommern</p>
          </div>

          <div class="col-md-2 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase font-weight-bold">Leistungen</h6>
            <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
            <ul class="list-unstyled">
              <li class="my-2"><a class="text-white" href="#">Beratung</a></li>
              <li class="my-2"><a class="text-white" href="#">Sanierung</a></li>
              <li class="my-2"><a class="text-white" href="#">Vermietung</a></li>
            </ul>
          </div>
          <div class="col-md-3 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase font-weight-bold">Nützliche Links</h6>
            <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
            <ul class="list-unstyled">
              <li class="my-2"><a class="text-white" href="about.html">Über Uns</a></li>
              <li class="my-2"><a class="text-white" href="projects.html">Projekte</a></li>
              <li class="my-2"><a class="text-white" href="contact.html">Kontakt</a></li>
              <li class="my-2"><a class="text-white" href="contact.html">Impressum</a></li>
              <li class="my-2"><a class="text-white" href="contact.html">Datenschutz</a></li>
              <li class="my-2"><a class="text-white" href="contact.html">Disclaimer</a></li>
            </ul>
          </div>
        </div>
      </div>
   
      <div class="footer-copyright text-center py-3 bg-white">
        <p>&copy; Copyright North-East-Estate GmbH</p>
        <p>Designed by Tom Bress</p>
      </div>


  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>