<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="css/custom-style.css">
    <title>NEE</title>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="index.html"><img src="pictures/Logo.png" width="60" height="60"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="about.html">Über Uns</a>
          <a class="nav-item nav-link" href="projects.html">Projekte</a>
          <a class="nav-item nav-link" href="contact.html">Kontakt</a>
        
        </div>
      </div>
    </nav>
    <!--Bilder Karussel am besten: Cafe, Wallstraße, und noch eines(vielleicht in Entstehung)-->

    <div id="slides" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner text-center">
        <div class="carousel-item active">
          <div class="inner">
            <img src="pictures/Landingpage_Wallpaper.jpg" class="d-block img-fluid">
          </div>
          <div class="carousel-caption text-center">
            <h1 class="display-2" >Wallstraße 27</h1>
          </div>
        </div>
        <div class="carousel-item">
          <div class="inner">
            <img src="pictures/Landingpage_Wallpaper.jpg" class="d-block img-fluid">
          </div>
          <div class="carousel-caption text-center">
            <h1 class="display-2">Marktplatz 8</h1>
          </div>
        </div>
        <div class="carousel-item">
          <div class="inner">
            <img src="pictures/Landingpage_Wallpaper.jpg" class="d-block img-fluid">
          </div>
          <div class="carousel-caption text-center">
            <h1 class="display-2">Strandhalle</h1>
          </div>
        </div>
      </div>
    </div>


    <!--Tätigkeitsbereiche-->

    
      <section id="Unternehmensziel">
 

        <div class="container-fluid mt-3">
        <div class="card-group">

          <div class="card">
            <div class="embed-responsive embed-responsive-16by9">
              <div class="inner">
                <img alt="Card image cap" class="card-img-top embed-responsive-item" src="pictures/Beratung-Titel_137600595_S.jpg" />
              </div>
           </div>
            <div class="card-body">
              <h5 class="card-title">Beratung</h5>
              <p class="card-text">Durch jahrzehntelange Erfahrung bietet die N.E.E ein tiefgreifendes Verständnis rund um Immobilien an. Durch das familiäre Umfeld und den professionellen Umgang miteinander enstehen immer wieder atemberaubene Projekte.</p>
              <a href="consulting.html" class="card-link">Weiterlesen...</a>
            </div>
          </div>

          <div class="card">
            <div class="embed-responsive embed-responsive-16by9">
              <div class="inner">
                <img alt="Card image cap" class="card-img-top embed-responsive-item" src="pictures/Landingpage_Wallpaper.jpg" />
              </div>
           </div>
            <div class="card-body">
              <h5 class="card-title">Immobilienentwicklung</h5>
              <p class="card-text">Die N.E.E sucht ständig nach attraktiven regionalen Projekten. Spezialisiert sind wir auf die Sanierung diverser Altbauten.</p>
              <a href="projects.html" class="card-link">Weiterlesen...</a>
            </div>
          </div>

          <div class="card">
            <div class="embed-responsive embed-responsive-16by9">
              <div class="inner">
                <img alt="Card image cap" class="card-img-top embed-responsive-item" src="pictures/beach_Ueckermünde.jpg" />
              </div>
           </div>
            <div class="card-body">
              <h5 class="card-title">Vermietung</h5>
              <p class="card-text">Die North-East-Estate ist auch in der regionalen Vermietung zu finden. Die Pension am Haff - Haffidylle - wird von der N.E.E betrieben und verwaltet.</p>
              <a href="rental.html" class="card-link">Weiterlesen...</a>
            </div>
          </div>
        </div>
      </div>

    <!--FOOTER-->


        <footer class="page-footer">
        
            <div class="container-fluid bg-white">
              <div class="row py-4 d-flex align-items-center">
                <div class="col-md-12 text-center">
                  <a href="#"><i class="fab fa-facebook mr-4"></i></a>
                  <a href="#"><i class="fab fa-google-plus-square mr-4"></i></a>
                  <a href="#"><i class="fab fa-twitter mr-4"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          

            <div class="container-fluid text-center text-md-left mt-3">
              <div class="row text-white">
                
                <div class="col-md-3 mx-auto mb-4 mt-5">
                  <h6 class="text-uppercase font-weight-bold">North-East-Estate GmbH</h6>
                  <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
                  <p class="mt-2">Wallstraße 27</p>
                  <p>17373 Ueckermünde</p>
                  <p>Mecklenburg-Vorpommern</p>
                </div>

                <div class="col-md-2 mx-auto mb-4 mt-5">
                  <h6 class="text-uppercase font-weight-bold">Leistungen</h6>
                  <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
                  <ul class="list-unstyled">
                    <li class="my-2"><a class="text-white" href="#">Beratung</a></li>
                    <li class="my-2"><a class="text-white" href="#">Sanierung</a></li>
                    <li class="my-2"><a class="text-white" href="#">Vermietung</a></li>
                  </ul>
                </div>
                <div class="col-md-3 mx-auto mb-4 mt-5">
                  <h6 class="text-uppercase font-weight-bold">Nützliche Links</h6>
                  <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
                  <ul class="list-unstyled">
                    <li class="my-2"><a class="text-white" href="about.html">Über Uns</a></li>
                    <li class="my-2"><a class="text-white" href="projects.html">Projekte</a></li>
                    <li class="my-2"><a class="text-white" href="contact.html">Kontakt</a></li>
                    <li class="my-2"><a class="text-white" href="contact.html">Impressum</a></li>
                    <li class="my-2"><a class="text-white" href="contact.html">Datenschutz</a></li>
                    <li class="my-2"><a class="text-white" href="contact.html">Disclaimer</a></li>
                  </ul>
                </div>
              </div>
            </div>
         
            <div class="footer-copyright text-center py-3 bg-white">
              <p>&copy; Copyright North-East-Estate GmbH</p>
              <p>Designed by Tom Bress</p>
            </div>


        </footer>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>