<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="css/custom-style.css">
    <link rel="stylesheet" href="css/custom-style-listings.css">
    <title>N.E.E.</title>
    
  </head>
  <body class="bg-light example">


    <!--NAVBAR-->



    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand ms-3" href="index.html"><img src="pictures/Logo.png" width="60" height="60"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto me-3">
            <a class="nav-link" href="projects.html">Referenzen</a>
            <a class="nav-link" href="rental.html">Mieten</a>
            <a class="nav-link" href="consulting.html">Beratung</a>
            <a class="nav-link" href="about.html">Über Uns</a>
            <a class="nav-link" href="contact.html">Kontakt</a>
          </div>
        </div>
      </div>
    </nav>
 



    <!--WALLPAPER-->
    <div class="inner">
      <img src="pictures/Harbor_Panoramic.jpg" alt="" class="img-fluid">
    </div>



  <!--HEADING-->
  <div class="container mt-1 ">
    <h2 class="pt-4">/Moderne Altstadtwohnung 1 Zimmer</h2>
    <div class="border-top w-60 mx-auto my-3"></div>
  </div>


    <!--Carousel-->
    <div class="container mt-3">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="inner">
                  <img src="pictures/Listing_1/IMG_2182 (1).JPG" class="d-block w-100" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner">
                  <img src="pictures/Listing_1/IMG_2183 (1).JPG" class="d-block w-100" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="inner">
                  <img src="pictures/Listing_1/IMG_2185 (1).JPG" class="d-block w-100" alt="...">
                </div>
                
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>


    <!--HARDFACTS-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <h4>290€</h4>
            </div>
            
            <div class="col-md-4 text-center">
                <h4>35m²</h4>
            </div>
            <div class="col-md-4 text-center">
                <h4>1</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="text-secondary">Kaltmiete zzgl. NK</h6>
            </div>
            
            <div class="col-md-4 text-center">
                <h6 class="text-secondary">Wohnfläche</h6>
            </div>
            <div class="col-md-4 text-center">
                <h6 class="text-secondary">Zimmer</h6>
            </div>
        </div>
    </div>


    <!--PRICING-->

    <div class="container mt-5">
    <h3 class="pt-4">/Kosten</h3>
    <div class="border-top w-60 mx-auto my-3"></div>
        <div class="row mt-2">
          <div class="col-md-6">
            <h6>Kaltmiete</h6>
          </div>
          <div class="col-md-6">
            <h6>290€</h6>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <h6>Nebenkosten</h6>
          </div>
          <div class="col-md-6">
            <h6>54€</h6>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <h6>Heizkosten</h6>
          </div>
          <div class="col-md-6">
            <h6>in Nebenkosten enthalten</h6>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <h5>Warmmiete</h5>
          </div>
          <div class="col-md-6">
            <h4>344€</h4>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <h5>Kaution</h5>
          </div>
          <div class="col-md-6">
            <h4>540€</h4>
          </div>
        </div>
    </div>



    <!--GENERALINFO-->
    <div class="container mt-5 ">
      <h3 class="pt-4">/Über die Immobilie</h3>
      <div class="border-top w-60 mx-auto mt-3 mb-3"></div>

      <div class="row mt-2">
        <div class="col-md-4">
          <h6>Allgemein</h6>
        </div>

        <div class="col-md-4">
          <div class="row">
            
            <h6><i class="fas fa-check me-1"></i>Apartment</h6>
          </div>
          <div class="row">
            <h6><i class="fas fa-check me-1"></i>Einbauküche</h6>
          </div>
          <div class="row">
            <h6><i class="fas fa-check me-1"></i>vollmöbliert</h6>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4">
          <h6>Versorgung</h6>
        </div>

        <div class="col-md-4">
          <div class="row">
            <h6><i class="fas fa-check me-1"></i>Zentralheizung</h6>
          </div>
          <div class="row">
            <h6><i class="fas fa-check me-1"></i>Erdgas</h6>
          </div>
          
        </div>
      </div>

    </div>



    <!--AREA-->
    <div class="container mt-5 ">
      <h3 class="pt-4">/Lage</h3>
      <div class="border-top w-60 mx-auto mt-3 mb-3"></div>
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2360.0076645482523!2d14.04381661603217!3d53.7359382531583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47aa459c42825a27%3A0xeb19670ab4fa2d7d!2sWallstra%C3%9Fe%2027%2C%2017373%20Ueckerm%C3%BCnde!5e0!3m2!1sde!2sde!4v1615554889131!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen loading="lazy"></iframe>
    </div>
    </div>



    <!--CONTACT-->
    <div class="container mt-5 ">
      <h3 class="pt-4">/Kontakt</h3>
      <div class="border-top w-60 mx-auto mt-3 mb-3"></div>
      
    </div>




    <!--FOOTER-->
    <footer class="page-footer">        
      <div class="container-fluid bg-white">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-12 text-center">
            <a href="#"><i class="fab fa-facebook me-4"></i></a>
            <a href="#"><i class="fab fa-google-plus-square me-4"></i></a>
            <a href="#"><i class="fab fa-twitter me-4"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    

      <div class="container-fluid text-center text-md-left mt-3">
        <div class="row text-white">
          
          <div class="col-md-3 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase font-weight-bold">North-East-Estate GmbH</h6>
            <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
            <p class="mt-2">Wallstraße 27</p>
            <p>17373 Ueckermünde</p>
            <p>Mecklenburg-Vorpommern</p>
          </div>

          <div class="col-md-2 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase font-weight-bold">Leistungen</h6>
            <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
            <ul class="list-unstyled">
              <li class="my-2"><a class="text-decoration-none text-white" href="#">Beratung</a></li>
              <li class="my-2"><a class="text-decoration-none text-white" href="#">Sanierung</a></li>
              <li class="my-2"><a class="text-decoration-none text-white" href="#">Vermietung</a></li>
            </ul>
          </div>
          <div class="col-md-3 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase font-weight-bold">Nützliche Links</h6>
            <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
            <ul class="list-unstyled">
              <li class="my-2"><a class="text-decoration-none text-white" href="about.html">Über Uns</a></li>
              <li class="my-2"><a class="text-decoration-none text-white" href="projects.html">Projekte</a></li>
              <li class="my-2"><a class="text-decoration-none text-white" href="contact.html">Kontakt</a></li>
              <li class="my-2"><a class="text-decoration-none text-white" href="contact.html">Impressum</a></li>
              <li class="my-2"><a class="text-decoration-none text-white" href="contact.html">Datenschutz</a></li>
              <li class="my-2"><a class="text-decoration-none text-white" href="contact.html">Disclaimer</a></li>
            </ul>
          </div>
        </div>
      </div>
   
      <div class="footer-copyright text-center py-3 bg-white">
        <p>&copy; Copyright North-East-Estate GmbH</p>
        <p>Designed by Tom Bress</p>
      </div>


  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>