<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="css/custom-style.css">
    <title>NEE</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="index.html"><img src="pictures/Logo.png" width="60" height="60"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="about.html">Über Uns</a>
          <a class="nav-item nav-link active" href="projects.html">Projekte</a>
          <a class="nav-item nav-link" href="contact.html">Kontakt</a>
        </div>
      </div>
    </nav>
    <img src="pictures/Strand_Ueckermünde_im_Winter.jpg" alt="">
    <!--POSTNAVIGATION-->
    <div class="container mt-5 rounded">
      <h1 class=""></h1>
      <div class="list-group">
        <a href="#Wallstrasse" class="list-group-item list-group-item-action active">Wallstraße 27</a>
        <a href="#Strandhalle" class="list-group-item list-group-item-action">Strandhalle</a>
        <a href="#Seidelstrasse" class="list-group-item list-group-item-action">Seidelstrasse</a>
        <a href="#Galerie" class="list-group-item list-group-item-action">Galerie</a>
        <a href="#Marktplatz" class="list-group-item list-group-item-action disabled">Markt 8</a>
      </div>
    </div>



    <!--POSTS-->
    <div class="container mt-5 bg-light" id="Wallstrasse">
      <h1 class="pt-4">Wallstraße 27</h1>
       <div class="border-top w-60 mx-auto my-3"></div>
       <div class="row">
         <div class="col-md-5">
          <div class="inner">
            <img  class="embed-responsive-item" src="pictures/Beratung-Titel_137600595_S.jpg" />
          </div>
         </div>
         <div class="col-md-5 ml-5">
           <p>Die Wallstraße 27 wurde ... gekauft und ... Jahre saniert. Befindet sich im Besitz der N.E.E.</p>
         </div>
       </div>
    </div>
    <div class="container mt-5 bg-light" id="Strandhalle">
      <h1 class="pt-4">Strandhalle</h1>
       <div class="border-top w-60 mx-auto my-3"></div>
       <div class="row">
         <div class="col-md-5">
          <div class="inner">
            <img  class="embed-responsive-item" src="pictures/Beratung-Titel_137600595_S.jpg" />
          </div>
         </div>
         <div class="col-md-5 ml-5">
           <p>Die Wallstraße 27 wurde ... gekauft und ... Jahre saniert. Befindet sich im Besitz der N.E.E.</p>
         </div>
       </div>
    </div>
    <div class="container mt-5 bg-light" id="Seidelstrasse">
      <h1 class="pt-4">Seidelstrasse</h1>
       <div class="border-top w-60 mx-auto my-3"></div>
       <div class="row">
         <div class="col-md-5">
          <div class="inner">
            <img  class="embed-responsive-item" src="pictures/Beratung-Titel_137600595_S.jpg" />
          </div>
         </div>
         <div class="col-md-5 ml-5">
           <p>Die Wallstraße 27 wurde ... gekauft und ... Jahre saniert. Befindet sich im Besitz der N.E.E.</p>
         </div>
       </div>
    </div>
    <div class="container mt-5 bg-light" id="Galerie">
      <h1 class="pt-4">Galerie</h1>
       <div class="border-top w-60 mx-auto my-3"></div>
       <div class="row">
         <div class="col-md-5">
          <div class="inner">
            <img  class="embed-responsive-item" src="pictures/Beratung-Titel_137600595_S.jpg" />
          </div>
         </div>
         <div class="col-md-5 ml-5">
           <p>Die Wallstraße 27 wurde ... gekauft und ... Jahre saniert. Befindet sich im Besitz der N.E.E.</p>
         </div>
       </div>
    </div>
    <div class="container mt-5 bg-light" id="Marktplatz">
      <h1 class="pt-4">Markt 8</h1>
       <div class="border-top w-60 mx-auto my-3"></div>
       <div class="row">
         <div class="col-md-5">
          <div class="inner">
            <img  class="embed-responsive-item" src="pictures/Beratung-Titel_137600595_S.jpg" />
          </div>
         </div>
         <div class="col-md-5 ml-5">
           <p>Die Wallstraße 27 wurde ... gekauft und ... Jahre saniert. Befindet sich im Besitz der N.E.E.</p>
         </div>
       </div>
    </div>











    <!--FOOTER-->
    <footer class="page-footer">
    
          
      <div class="container-fluid text-center text-md-left imgbackround mt-3">
        <div class="row">
          <div class="col-md-3 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase font-weight-bold">North-East-Estate GmbH</h6>
            <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 215px; height: 2px;">
            <p class="mt-2">Wallstraße 27</p>
            <p>17373 Ueckermünde</p>
            <p>Mecklenburg-Vorpommern</p>
          </div>
          <div class="col-md-2 mx-auto mb-4 mt-5">
            <h6 class="text-uppercase font-weight-bold">Leistungen</h6>
            <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 97px; height: 2px;">
            <p class="mt-2">Beratung</p>
            <p>Sanierung</p>
            <p>Vermietung</p>
          </div>

        </div>
      </div>
      <div class="bg-secondary">
        <div class="container">
          <div class="row py-4 d-flex align-items-center">
            <div class="col-md-12 text-center">
              <a href="#"><i class="fab fa-facebook text-white mr-4"></i></a>
              <a href="#"><i class="fab fa-google-plus-square text-white mr-4"></i></a>
              <a href="#"><i class="fab fa-twitter text-white mr-4"></i></a>
              <a href="#"><i class="fab fa-instagram text-white"></i></a>
            </div>
          </div>
        </div>
      </div>



  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>